@import "tailwindcss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Prompt", "Noto Sans JP", sans-serif; */
  font-family: "Libre Franklin", var(--font-thai), var(--font-jp), var(--font-kanit), sans-serif;
  font-weight: 300;
  font-style: normal;
  font-optical-sizing: auto;
  transition: all ease 0.25s;
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  list-style: none;

}

a:hover {
  text-decoration: none;
}

/* ------------------------------------------TOP-NAVIGATION BAR */


.header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999;
}

.container-box {
  width: 100%;
  margin: 0 auto;

}

.ul-navigation {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  width: 70%;
  background: none;
  padding: 20px;
  border-radius: 30px;
  margin: -10px auto 0 auto;
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  box-shadow: 0 0 1px #959595;
}

.logoJiei {
  width: 35%;
  text-align: center;
  margin: 0 auto;
}

.scrolled {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  width: 75%;
  background-color: #fff;
  padding: 20px;
  border-radius: 30px;
  margin: 0 auto;

}

.nav-link-box {
  width: 100%;


}


.container-background-page {
  width: 100%;
  height: 100vh;
  background-image: url("/background-web/TitleCover Page.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.introWeb-page {
  display: flex;
  flex-direction: column;
  gap: 130px;
  justify-content: center;
  align-items: center;
  height: 100%;

}


.top-text-intro,
.button-text-intro {
  font-size: 18px;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
}

.center-text-intro {
  font-size: 22px;
  font-weight: 100;

}

.icon-menu-show {
  display: none;
}

.background-iso {
  width: 100%;
  height: 100vh;
  background-image: url("/background-web/TitleCover Page.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.iso-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  margin: 200px auto;
  gap: 50px;
  overflow: hidden;

}

.content-ios-box {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}

.text-sub-iso-box {
  margin: 20px 0;
}

.sub-iso {
  font-weight: 100;
  font-size: 22px;
}

.content-iso {
  font-weight: 100;
  font-size: 18px;
  text-align: justify;
  line-height: 30px;

}



.title-ISO {
  color: #191919;
  font-weight: 100;
  font-size: 70px;

}

.iso-icon {
  width: 300px;
  text-align: center;
  margin: 100px auto;
}

.iso-total {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;


}

.iso-box-image {
  display: block;
  text-align: center;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

.doc-iso {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.image-company {
  margin-top: 300px;
  width: 100%;
}

.container-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  padding: 50px 0;
  width: 95%;
  margin: 0 auto;

}

.footer-box {
  width: 100%;
  margin: 0 auto;

}

.logo-footer {
  width: 200px;
}

.contentFooter-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.line-footer {
  width: 100%;
  height: 3px;
  background-color: #191919;
  border-radius: 10px;
  margin: 25px 0;
}

.flex-f {
  display: flex;
  flex-direction: column;
  gap: 40px;

}

.topic-box h6 {
  font-size: 18px;
  font-weight: bold;
}

.background-company-profile {
  background-image: url("/background-web/TitleCover Page.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.box-about-intro {
  width: 80%;
  padding: 200px 0;
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  overflow: hidden;
}

.image-company-about {
  border-radius: 50px;

}

.company-profile-text-ji {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.company-text-ji {
  text-align: center;
  font-weight: 100;
  font-size: 70px;

}

.company-text-ji2 {
  text-align: center;
  margin-top: 20px;
  font-weight: 100;
}

.company-profile {
  padding: 200px 0;

}

.why-chose-jiei {
  width: 80%;
  margin: 0 auto;
}

.AboutUS {
  font-size: 50px;
  text-align: center;
  font-weight: 100;
}

.text-jiei-about-page {
  text-align: center;
  font-weight: 100;
  padding: 30px 0;
}

.aboutUs-page {
  width: 90%;
  margin: 200px auto;
  display: grid;
  grid-template-columns: 2fr 1fr;

  gap: 50px;

}

.text-about-us {
  font-weight: 100;
  text-align: center;
  font-size: 40px;
}

.about-grid {
  padding: 100px 0;
}

.text-about-us {
  font-weight: 100;
  padding: 0 0 100px 0;
}

.company-profile-text1 {
  padding: 20px 0;
  font-weight: 100;
}

.company-profile-text {
  padding: 5px 0;
  font-weight: 100;
  text-indent: 50px;
}

.image-president-company {
  border-radius: 20px;
}

.position-topmanager {
  text-align: center;
  padding: 10px 0 0 0;
}

.top-manager-name {
  text-align: center;
  font-size: 20px;
}

.about-company-name {
  text-align: center;
  font-weight: 100;
  margin: 0 0 100px 0;
}

.president-image-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table-company-profile {
  border-radius: 30px;
  padding: 50px 50px;
  margin: 50px 0;
  background-image: url("/background-web/TitleCover Page.png");
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.grid-about-page-description {
  width: 90%;
  margin: 0 auto;
}

.content-inthe-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 0;
  border-bottom: 1px solid #959595;

}

.content-inthe-table1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 0;
  border-bottom: 1px solid #959595;

}

.google-map-box {
  margin: 0 auto;
  width: 50%;
  text-align: center;

  overflow: hidden;
}

.image-map {
  text-align: center;
  margin: 100px auto;
  border-radius: 20px;
  box-shadow: 0 0 2px #959595;
  overflow: hidden;
}

.btn-googlemap {
  margin: 100px 0;
  padding: 20px 40px;
  border-radius: 20px;
}


.bg {
  padding: 200px 0;

}

.tec-box {
  width: 90%;
  margin: 0 auto;
}

.introduction-tech {
  text-align: center;
  font-weight: 100;

}

.tech-company {
  font-size: 22px;
  font-weight: 100;
  text-align: center;

}

.introduction-content {
  margin: 100px 0;
  text-align: center;
}

.design-analysis-content-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;


}

.design-analysis-content {
  box-shadow: 0 0 2px #191919;
  border-radius: 20px;
  overflow: hidden;
  display: grid;
  grid-template-columns: .5fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  gap: 20px;
}

.topic-technology {
  margin: 100px 0 30px 0;
  font-weight: 100;
}

.topic-2 {
  padding: 20px 0;
  font-size: 22px;
  font-weight: 100;
}

.content-card-tach {
  width: 90%;
  margin: 0 auto;

}

.product-bg {
  margin: 200px auto;
  width: 90%;
}

.title-product-page {
  text-align: center;
  font-weight: 100;
  font-size: 50px;
  margin-bottom: 100px;

}

.columns-product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  margin: 0 auto;
  gap: 50px;
}

.menu-Hood-seal-Front {
  box-shadow: 0 0 2px #959595;
  padding: 30px;
  border-radius: 20px;


}

.Hood-Seal {
  font-weight: 100;
  padding: 20px 0;
  font-size: 22px;
  text-transform: uppercase;
}

.image-Hood-seal-Front {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 30px;
  mix-blend-mode: screen;
  mix-blend-mode: multiply;

}

.top-locationProduct {
  text-decoration: none;
  font-weight: 100;

}

.titleProduct {
  font-size: 22px;
  color: #191919;

}

.text-Hood-seal-Front {
  color: #191919;
  padding-top: 20px;
}

.item-Hood-seal-Front {
  /* display: none; */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  top: 20%;

}

.product-title-text {
  text-align: center;
  font-weight: 100;
  font-size: 26px;
  padding-bottom: 50px;
}

.content-active {
  text-align: center;
  margin-bottom: 50px;
}

.text-contactUs {
  font-weight: 100;
  text-align: center;
  padding: 50px 0 0 0;
  font-size: 26px;
}

.image-active {
  width: 60%;
  margin: 0 auto;
}

.card-product-active {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  padding-top: 100px;
}

.label-input-contactUs {
  font-weight: 100;
  font-size: 18px;
  padding: 10px 0;
}

.input-contactUs {
  width: 100%;
  padding: 12px 20px;
  outline-color: #959595;
  border-radius: 6px;
  border: 1px solid #959595;
}

.submit-contactUs {
  padding: 10px 50px;
  margin: 50px 0;
  border-radius: 10px;
}

.btn-submit-contactUs {
  display: flex;
  justify-content: start;
}

.btn-back-product {
  position: fixed;
  right: 50px;
  bottom: 100px;
  display: flex;
  justify-content: end;

}

.back-btn {
  padding: 10px 30px;
  border-radius: 10px;
}

.news-bg {
  padding: 200px 0;
  width: 90%;
  margin: 0 auto;
}

.title-news {
  font-weight: 100;
  text-align: center;

}

.news-box-card {
  margin-top: 50px;
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;


}

.product-card-box {
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  box-shadow: 0 0 2px #959595;


  &:hover {
    transform: scale(1.05);

    .preview-product {
      height: 100%;
      transform: scale(1.05);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);

    }

    .preview-product .text-preview .preview-text {
      margin-top: 50%;
    }
  }
}

.countPage {
  margin-top: 100px;
}

.numPage {
  padding: 10px;
  border-radius: 6px;
  text-decoration: none;

}

.focusPage {
  background-color: rgb(33, 33, 33);
}

.space-part {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.preview-product {
  height: 0;
  position: absolute;
  border: 1px solid #000;
  top: -9px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;

}

.preview-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-box {
  width: 90%;
  margin: 0 auto;
}

.title-activity {
  padding: 10px 0;
  font-weight: 200;
  font-size: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

}

.product-description-box {
  margin-bottom: 30px;
}

.post {
  text-align: end;
  padding: 0 10px 10px 0;
}

.title-news-page {
  text-align: center;
  font-weight: 100;
}

.image-fade {
  margin-top: 50px;
  margin: 50px auto 0 auto;
  border-radius: 20px;

}

.post_active {
  text-align: end;
  padding: 50px;
  font-size: 16px;
  font-weight: 100;

}

.content-box-page {
  padding: 50px 0;
  font-size: 16px;
}

.company-announcement {
  width: 80%;
  margin: 0 auto;
  background-image: url("/background-web/TitleCover Page.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 0 50px 50px 50px;

}

.company-announcement h2 {
  font-size: 22px;
  text-align: center;
  padding: 30px 0;


}

blockquote {
  padding: 20px 0;
  background-color: #fff;
  text-align: center;
}



.btn-back-newsPage {
  position: sticky;
  bottom: 50px;
}

.network-all {
  margin: 200px auto;
  width: 90%;
}

.network-text {
  text-align: center;
  font-weight: 100;
}

.group-company {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-top: 100px;
}

.tokai-group {
  text-align: center;
  font-weight: 100;
  font-size: 26px;

}

.network-box {
  margin-top: 100px;
  border-radius: 20px;
}

.network-component {
  background-color: #efefef;
  padding: 20px 30px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.company-name {
  font-size: 26px;
  font-weight: 100;
}

.contact-level {
  margin: 150px auto;
  width: 90%;
}

.contactUsTitle {
  text-align: center;
  font-weight: 100;
}

.text-title {
  text-align: center;
  font-weight: 100;
  font-size: 18px;
  margin-top: 20px;

}

.contact-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 80px;
  gap: 50px;
}

.text-contact-1 {
  font-weight: 100;

}

.line-contact {
  width: 300px;
  height: 3px;
  background-color: #959595;
  margin: 50px 0;


}

.icon-contact-web {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.icon-contact-1 {
  border-radius: 20px;
  padding: 5px 20px;
  box-shadow: 0 0 2px #959595;

}

.contact-box-icon {
  display: flex;
  align-items: center;
}

.item-icon {
  padding: 10px 11px;
  border-radius: 50%;
  font-size: 20px;

  /* box-shadow: 0 0 2px #959595; */
}

.icon {
  z-index: 9;

}

.title-box-icon {
  display: flex;
  align-items: center;
  margin: 13px 0 0 10px;
}

.form-contact {
  box-shadow: 0 0 2px #959595;
  border-radius: 20px;
  padding: 30px;
  background-image: url("/background-web/TitleCover Page.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.label-input {
  text-transform: uppercase;
}

.input-data {
  padding: 10px 20px;
  margin-top: 5px;
  box-shadow: 0 0 2px #959595;
  border-radius: 6px;
}

.message {
  padding: 10px 20px;
  margin-top: 5px;
  box-shadow: 0 0 2px #959595;
  border-radius: 6px;
}

.contact-input-box {
  display: flex;
  flex-direction: column;
  padding: 10px;

}

.btn-send-message {
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  margin: 30px 0 10px 0
}

.link-footer,
.jiei-footer a {
  text-decoration: none;
}

.container-footer {
  border-top: 1px solid #959595;
}

.doc-iso-link {
  text-decoration: none;
  color: #191919;
}

.iso-doc {
  padding: 200px 0;
  width: 90%;
  margin: 0 auto;

}

.image-iso-box {
  overflow-x: hidden;
}

.image-iso-doc {
  /* margin: 0 auto; */
  /* margin-right: 20px; */

  text-align: center;
  box-shadow: 0 0 2px #959595;
  border-radius: 10px;
}

.image-iso-box-iso-page {
  margin: 100px 0;
  display: flex;
  gap: 20px;
  justify-content: center;

}

.ISO {
  text-align: center;

}

.text-iso {
  text-align: center;
}

.btn-iso-nav {
  padding: 70px 0 0 0;

}

.btn-iso {

  text-decoration: none;
  padding: 10px 30px;
  border-radius: 10px;

  &:hover {
    transform: scale(1.1);
  }

  &:checked {
    transform: scale(1.2);
  }
}


.lang-select {
  width: 100px;
}

.language {
  width: 100%;
  border-radius: 6px;
  padding: 5px 7px;
  box-shadow: 0 0 1px #191919;
}

.top-navigation {
  width: 100%;
  margin: 0px auto 0 auto;
  padding: 5px 0;

}

.topbar-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;


}

.topbar-logo {
  width: 100px;

}
.bg-link{
  background-color: #fff;

}
.path{
  border-bottom: 1px solid #000;
}
.top-navigation-Link{
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 20px;
}


@media screen and (max-width : 1700px) {
  .introWeb-page {
    display: flex;
    width: 90%;
    margin: 0 auto;
    gap: 70px;
  }

  .top-text-intro,
  .button-text-intro {
    font-size: 16px;
  }
  .title-ISO{
    font-size: 50px;
  }
}


@media screen and (max-width : 1440px) {

  .menu-icon-new {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 90%;
    margin: 0 auto;
  }

  .box-icon-menu {
    width: 100%;
    display: flex;
    justify-content: end;
    width: 90%;
    margin: 0 auto;
    align-items: center;
  }

  .div-menu-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: end;


  }

  .menu-div1,
  .menu-div3 {
    width: 70px;
    height: 7px;
    background-color: #000;
    border-radius: 10px;
  }

  .menu-div2 {
    width: 50px;
    height: 7px;
    background-color: #000;
    border-radius: 10px;

  }

  .icon-menu-show:checked~.box-icon-menu .icon-menu-label .div-menu-box .menu-div2 {
    opacity: 0;

  }

  .icon-menu-show:checked~.box-icon-menu .icon-menu-label .div-menu-box .menu-div1 {
    transform: rotate(45deg) translate(20px, 7px);


  }

  .icon-menu-show:checked~.box-icon-menu .icon-menu-label .div-menu-box .menu-div3 {
    transform: rotate(135deg) translate(-15px, 5px);
  }

  .ul-navigation {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -100%;
    margin-top: 50px;
    width: 75%;

  }

  .icon-menu-show:checked~.ul-navigation {

    position: absolute;
    right: 12%;
  }


  .top-text-intro {
    text-align: center;
    font-size: 16px;
    margin-bottom: 50px;
  }

  .button-text-intro {
    font-size: 16px;
    margin-top: 50px;

  }

  .iso-box {
    padding: 150px 0;
  }

  .iso-icon {
    width: 30%;
  }

  .doc-iso {
    width: 70%;
  }

  .introWeb-page {
    width: 90%;
    margin: 0 auto;
    gap: 80px;

  }


  .box-about-intro {
    width: 90%;
    gap: 30px;
  }

  .AboutUS {
    font-size: 40px;
  }

  .text-jiei-about-page {
    font-size: 35px;
  }

  .columns-product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  .product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .title-ISO {
    font-size:50px;
  }


}




@media screen and (max-width : 1024px) {

  .title-box-intro {
    margin-bottom: 30px;
  }

  .title-ISO {
    font-size: 50px;
  }

  .sub-iso {
    font-size: 18px;
  }

  .content-iso {
    font-size: 16px;

  }

  .iso-icon {
    width: 50%;
  }

  .content-ios-box {
    display: flex;
    justify-content: center;
  }

  .container-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .company-text-ji {
    font-size: 45px;
  }

  .company-text-ji2 {
    font-size: 26px;
  }

  .AboutUS {
    font-size: 35px;
  }

  .text-jiei-about-page {
    font-size: 26px;
  }

  .aboutUs-page {
    display: grid;
    grid-template-columns: 1fr;
  }

  .image-president-company {
    width: 50%;
    text-align: center;
    margin: 0 auto;

  }

  .about-company-name {
    font-size: 35px;
  }

  .image-fade {
    width: 50%;
  }

  .company-announcement {
    width: 100%;
  }

  .introWeb-page {
    display: flex;

    gap: 90px;

    height: 100%;

  }

  .design-analysis-content {
    display: grid;
    grid-template-columns: 1fr;
  }
}


@media screen and (max-width : 768px) {
  .iso-box {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
  }

  .top-text-intro {
    font-size: 14px;

  }

  .iso-icon {
    width: 40%;
  }

  .button-text-intro {
    font-size: 14px;
    text-align: center;
  }

  .container-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;

  }

  .box-about-intro {
    display: grid;
    grid-template-columns: 1fr;


  }

  .image-company-about {
    width: 80%;
    margin: 0 auto;
  }

  .design-analysis-content-box {
    display: grid;
    grid-template-columns: 1fr 1fr;

  }

  .design-analysis-content {
    display: grid;
    grid-template-columns: 1fr;
  }

  .columns-product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

  }

  .product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .image-fade {
    width: 70%;
  }

  .menu-div1,
  .menu-div3 {
    width: 45px;
    height: 4px;
  }

  .menu-div2 {
    width: 35px;
    height: 4px;
  }

  .icon-menu-show:checked~.box-icon-menu .icon-menu-label .div-menu-box .menu-div1 {
    transform: rotate(45deg) translate(15px, 5px);
  }

  .icon-menu-show:checked~.box-icon-menu .icon-menu-label .div-menu-box .menu-div3 {
    transform: rotate(135deg) translate(-15px, 5px);
  }

  .group-company {
    display: grid;
    grid-template-columns: 1fr;
  }

  .contact-page {
    display: grid;
    grid-template-columns: 1fr;
  }

  .card-product-active {
    display: grid;
    grid-template-columns: 1fr;
  }

  .form-box {
    order: 2;
  }

}

@media screen and (max-width : 425px) {
  .container-footer {
    display: grid;
    grid-template-columns: 1fr;
  }

  .logoJiei {
    width: 80%;
  }

  .center-text-intro {
    font-size: 16px;
  }

  .logo-footer {
    margin: 0 auto;
    text-align: center;
  }

  .page-425 {
    text-align: center;
  }

  .image-company-about {
    width: 95%;
  }

  .image-president-company {
    width: 90%;
  }

  .about-company-name {
    font-size: 20px;
  }

  .content-inthe-table,
  .content-inthe-table1 {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .title-about-text {
    font-weight: bold;
  }

  .content-in-aboutBox {
    margin-top: 20px;
  }

  .image-map {
    width: 100%;

  }

  .btn-googlemap {
    font-size: 14px;
  }

  .columns-product {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

  }

  .product {
    display: grid;
    grid-template-columns: 1fr;
  }

  .image-fade {
    width: 90%;
  }

  .company-announcement {
    width: 100%;
    padding: 0 10px 10px 10px;
  }

  .back-btn {
    font-size: 12px;
  }

  .image-iso-box-iso-page {

    display: block;

  }

  .title-ISO {
    font-size: 40px;
  }

  .iso-total {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .iso-icon {
    width: 70%;
  }

  .table-company-profile {
    padding: 50px 10px;
  }

  .design-analysis-content-box {
    display: grid;
    grid-template-columns: 1fr;

  }

  .introWeb-page {
    width: 90%;
    margin: 0 auto;
    gap: 10px;

  }

}

/* @media screen and (max-width:320px) {
  .product {
    display: grid;
    grid-template-columns: 1fr;
  }
} */